@model BookDisplayResponse

<div class="card" style="width: 18rem;">
    <img src="@Model.ImageUrl" style="height:250px;width:250px;" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price ₺</p>
        <button class="btn btn-success basket" data-id="@Model.Id">Sepete ekle</button>
    </div>
</div>
